<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.dao.BespokeDao">

	<resultMap type="Bespoke" id="BespokeResult">
		<id property="bepid" column="bepid"/>
		<result property="bepcom" column="bepcom"/>
		<result property="bepman" column="bepman"/>
		<result property="bepaddress" column="bepaddress"/>
		<result property="bepdate" column="bepdate"/>
		<result property="beptype" column="beptype"/>
		
	</resultMap>
	
	<resultMap type="Bespoke" id="BespokeResults">
		<id property="bepid" column="bepid"/>
		<result property="bepcom" column="bepcom"/>
		<result property="bepman" column="bepman"/>
		<result property="bepaddress" column="bepaddress"/>
		<result property="bepdate" column="bepdate"/>
		<result property="beptype" column="beptype"/>
		
		<association property="customer" javaType="com.ht.bean.Customer">
			<id property="kid" column="kid" />
			<result property="comname" column="comname" />
			<result property="atype" column="atype" />
			<result property="combackdrop" column="combackdrop" />
			<result property="comaddress" column="comaddress" />
			<result property="product" column="product" />
			<result property="structure" column="structure" />
			<result property="testman" column="testman" />
			<result property="amessage" column="amessage" />
			<result property="state" column="state" />
			<result property="newdate" column="newdate" />
			<result property="designated" column="designated" />
		</association>
	</resultMap>
	
	
	<resultMap type="Customer" id="CustomerResult">
		<id property="kid" column="kid" />
		<result property="comname" column="comname" />
		<result property="atype" column="atype" />
		<result property="combackdrop" column="combackdrop" />
		<result property="comaddress" column="comaddress" />
		<result property="product" column="product" />
		<result property="structure" column="structure" />
		<result property="testman" column="testman" />
		<result property="amessage" column="amessage" />
		<result property="state" column="state" />
		<result property="newdate" column="newdate" />
		<result property="designated" column="designated" />
	</resultMap>
	<select id="BespokeSelect" parameterType="int" resultMap="BespokeResult">
		select * from bespoke where bepid = #{bepid}
	</select>

	
	<update id="BespokeUpdate" parameterType="Bespoke">
		update Bespoke
		<set>
			<if test="bepcom!=null and bepcom!='' ">
				bepcom=#{bepcom},
			</if>
			<if test="bepman!=null and bepman!='' ">
				bepman=#{bepman},
			</if>
			<if test="bepaddress!=null and bepaddress!='' ">
				bepaddress=#{bepaddress},
			</if>
			<if test="bepdate!=null and bepdate!='' ">
				bepdate=#{bepdate},
			</if>
			<if test="beptype!=null and beptype!='' ">
				beptype=#{beptype},
			</if>
		</set>
		where bepid=#{bepid}
	</update>
	
	<delete id="BespokeDelete" parameterType="Integer">
		delete from bespoke where
		bepid=#{bepid}
	</delete>
	
	<insert id="BespokeAdd" parameterType="Bespoke">
		insert into bespoke
		values(null,#{bepcom},#{bepman},#{bepaddress},#{bepdate},#{beptype})
	</insert>
	
	<select id="CustomerSelectName" parameterType="Customer" resultMap="CustomerResult">
		select * from customer
	</select>
	
	<select id="BespokeQueryCount" resultType="int">
		select count(*) from bespoke
	</select>
	
	<select id="BespokeQueryAll" parameterType="Map" resultMap="BespokeResults">
		select * from bespoke  b,customer c
		<where>
			<if test="bepcom!=null and bepcom !=''">
				and b.bepcom like #{bepcom}
			</if>
			<if test="bepman!=null and bepman!=''">
				and b.bepman like #{bepman}
			</if>
			<if test="bepaddress!=null and bepaddress!='' ">
				and b.bepaddress like #{bepaddress}
			</if>
			<if test="beptype!=null and beptype!='' ">
				and b.beptype like #{beptype}
			</if>
			 and b.bepcom=c.kid
		</where>
		order by b.bepid desc
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
		
	</select>
	
	<select id="BespokeQueryAlls" parameterType="Map" resultMap="BespokeResults">
		select * from bespoke b,Customer c
		
		<where>
			<if test="bepman!=null and bepman!=''">
				and b.bepman like #{bepman}
			</if>
			<if test="bepaddress!=null and bepaddress!='' ">
				and b.bepaddress like #{bepaddress}
			</if>
			<if test="beptype!=null and beptype!='' ">
				and b.beptype like #{beptype}
			</if>
		   b.bepcom=c.kid
		</where>
		order by b.bepid desc
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
		
	</select>
	<select id="find" parameterType="Map" resultMap="BespokeResults">
		select * from bespoke b,Customer c
		
		<where>
			<if test="bepman!=null and bepman!=''">
				and b.bepman like #{bepman}
			</if>
			<if test="bepaddress!=null and bepaddress!='' ">
				and b.bepaddress like #{bepaddress}
			</if>
			<if test="beptype!=null and beptype!='' ">
				and b.beptype like #{beptype}
			</if>
		   b.bepcom=c.kid
		</where>
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
</mapper>
