<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.dao.ContactDao">

	<resultMap type="Contact" id="ContactResult">
		<id property="manid" column="manid"/>
		<result property="mancom" column="mancom"/>
		<result property="manname" column="manname"/>
		<result property="mandep" column="mandep"/>
		<result property="manjob" column="manjob"/>
		<result property="mannumber" column="mannumber"/>
		<result property="manmobile" column="manmobile"/>
		<result property="manemail" column="manemail"/>
		<result property="manqq" column="manqq"/>
		<result property="manmsn" column="manmsn"/>
		<result property="manskill" column="manskill"/>
		<result property="logdate" column="logdate"/>
	</resultMap>
	
	<resultMap type="Contact" id="ContactResult1">
		<id property="manid" column="manid"/>
		<result property="mancom" column="mancom"/>
		<result property="manname" column="manname"/>
		<result property="mandep" column="mandep"/>
		<result property="manjob" column="manjob"/>
		<result property="mannumber" column="mannumber"/>
		<result property="manmobile" column="manmobile"/>
		<result property="manemail" column="manemail"/>
		<result property="manqq" column="manqq"/>
		<result property="manmsn" column="manmsn"/>
		<result property="manskill" column="manskill"/>
		<result property="logdate" column="logdate"/>
		
		<association property="customers" javaType="com.ht.bean.Customer">
			<id property="kid" column="kid" />
			<result property="comname" column="comname" />
			<result property="atype" column="atype" />
			<result property="combackdrop" column="combackdrop" />
			<result property="comaddress" column="comaddress" />
			<result property="product" column="product" />
			<result property="structure" column="structure" />
			<result property="testman" column="testman" />
			<result property="amessage" column="amessage" />
			<result property="state" column="state" />
			<result property="newdate" column="newdate" />
			<result property="designated" column="designated" />
		</association>
	</resultMap>
	
	<resultMap type="Customer" id="CustomerResult">
		<id property="kid" column="kid" />
		<result property="comname" column="comname" />
		<result property="atype" column="atype" />
		<result property="combackdrop" column="combackdrop" />
		<result property="comaddress" column="comaddress" />
		<result property="product" column="product" />
		<result property="structure" column="structure" />
		<result property="testman" column="testman" />
		<result property="amessage" column="amessage" />
		<result property="state" column="state" />
		<result property="newdate" column="newdate" />
		<result property="designated" column="designated" />
	</resultMap>
	
	<insert id="contactAdd" parameterType="Contact">
		insert into contact 
		values (null, #{mancom}, #{manname}, #{mandep},
		  #{manjob}, #{mannumber}, #{manmobile}, #{manemail},
		    #{manqq}, #{manmsn}, #{manskill}, #{logdate})
	</insert>
	
	<select id="queryAll" parameterType="Map" resultMap="ContactResult1">
		select * from contact con, customer cus
		<where>
			<if test="mancom!=null and mancom!=''">
				and con.mancom like #{mancom}
			</if>
			<if test="manname!=null and manname!=''">
				and con.manname like #{manname}
			</if>
			<if test="mandep!=null and mandep!='' ">
				and con.mandep like #{mandep}
			</if>
			<if test="manjob!=null and manjob!='' ">
				and con.manjob like #{manjob}
			</if>
			<if test="manmobile!=null and manmobile!='' ">
				and con.manmobile like #{manmobile}
			</if>
			<if test="manskill!=null and manskill!='' ">
				and con.manskill = #{manskill}
			</if>
			<if test="logdate!=null and logdate!='' ">
				and con.logdate like #{logdate}
			</if>
			and con.mancom=cus.kid
		</where>
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	
	<select id="queryAlls" parameterType="Map" resultMap="ContactResult1">
		select * from contact con,customer cus
		<where>
			<if test="mancom!=null and mancom!=''">
				and con.mancom = #{mancom}
			</if>
			<if test="manname!=null and manname!=''">
				and con.manname like #{manname}
			</if>
			<if test="mandep!=null and mandep!='' ">
				and con.mandep like #{mandep}
			</if>
			<if test="manjob!=null and manjob!='' ">
				and con.manjob like #{manjob}
			</if>
			<if test="manmobile!=null and manmobile!='' ">
				and con.manmobile like #{manmobile}
			</if>
			<if test="manskill!=null and manskill!='' ">
				and con.manskill like #{manskill}
			</if>
			<if test="logdate!=null and logdate!='' ">
				and con.logdate like #{logdate}
			</if>
			and con.mancom=cus.kid
		</where>
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	
	<select id="contactQueryCount" resultType="int">
		select count(*) from contact
	</select>
	
	<delete id="contactDelete" parameterType="Integer">
		delete from contact where manid=#{manid}
	</delete>
	
	<update id="contactUpdate" parameterType="Contact">
		update contact
		<set>
			<if test="mancom!=null and mancom!='' ">
				mancom=#{mancom},
			</if>
			<if test="manname!=null and manname!='' ">
				manname=#{manname},
			</if>
			<if test="mandep!=null and mandep!='' ">
				mandep=#{mandep},
			</if>
			<if test="manjob!=null and manjob!='' ">
				manjob=#{manjob},
			</if>
			<if test="mannumber!=null and mannumber!='' ">
				mannumber=#{mannumber},
			</if>
			<if test="manmobile!=null and manmobile!='' ">
				manmobile=#{manmobile},
			</if>
			<if test="manemail!=null and manemail!='' ">
				manemail=#{manemail},
			</if>
			<if test="manqq!=null and manqq!='' ">
				manqq=#{manqq},
			</if>
			<if test="manmsn!=null and manmsn!='' ">
				manmsn=#{manmsn},
			</if>
			<if test="manskill!=null and manskill!='' ">
				manskill=#{manskill},
			</if>
			<if test="logdate!=null and logdate!='' ">
				logdate=#{logdate},
			</if>
		</set>
		where manid=#{manid}
	</update>
		
	<select id="contactById" parameterType="Integer" resultMap="ContactResult">
		select * from contact where manid = #{manid}
	</select>
	
	<select id="customerSelect" parameterType="Customer" resultMap="CustomerResult">
		select * from customer
	</select>
</mapper> 