<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.dao.CustomerDao">

	<resultMap type="Customer" id="CustomerResult">
		<id property="kid" column="kid"/>
		<result property="comname" column="comname"/>
		<result property="atype" column="atype"/>
		<result property="combackdrop" column="combackdrop"/>
		<result property="comaddress" column="comaddress"/>
		<result property="product" column="product"/>
		<result property="structure" column="structure"/>
		<result property="testman" column="testman"/>
		<result property="amessage" column="amessage"/>
		<result property="state" column="state"/>
		<result property="newdate" column="newdate"/>
		<result property="designated" column="designated"/>
	</resultMap>
	
	<select id="csrselect" parameterType="int" resultMap="CustomerResult">
		select * from customer where kid = #{kid}
	</select>

	<select id="csrselectall" resultType="List">
		select * from customer
	</select>
	
	<select id="queryAll" parameterType="Map" resultMap="CustomerResult">
		select * from customer
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	
	<select id="queryCount" parameterType="int" resultMap="CustomerResult">
		select count(*) from customer
	</select>
	
	<!-- <select id="getTotal" parameterType="Map" resultType="Long">
		select count(*) from t_customer_contact
		<where>
			<if test="cusId!=null and cusId!='' ">
				and cusId = #{cusId}
			</if>
		</where>
	</select> -->
	
	<insert id="cadd" parameterType="Contact">
		insert into customer values(#{comname},,#{atype},#{combackdrop},#{comaddress},#{product},#{structure},#{testman},#{amessage},#{state},#{designated})
	</insert>
	
	<update id="csrcupdate" parameterType="Contact">
		update customer
		<set>
			<if test="comname!=null and comname!='' ">
				comname=#{comname},
			</if>
			<if test="atype!=null and atype!='' ">
				atype=#{atype},
			</if>
			<if test="combackdrop!=null and combackdrop!='' ">
				combackdrop=#{combackdrop},
			</if>
			<if test="comaddress!=null and comaddress!='' ">
				comaddress=#{comaddress},
			</if>
			<if test="product!=null and product!='' ">
				product=#{product},
			</if>
			<if test="structure!=null and structure!='' ">
				structure=#{structure},
			</if>
			<if test="testman!=null and testman!='' ">
				testman=#{testman},
			</if>
			<if test="amessage!=null and amessage!='' ">
				amessage=#{amessage},
			</if>
			<if test="state!=null and state!='' ">
				state=#{state},
			</if>
			<if test="designated!=null and designated!='' ">
				designated=#{designated},
			</if>
		</set>
		where kid=#{kid}
	</update>
	
	<delete id="csrdelete" parameterType="Integer">
		delete from customer where kid=#{kid}
	</delete>
	
</mapper> 