<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.dao.TrackDao">

	<resultMap type="Track" id="TrackResult">
		<id property="tid" column="tid" />
		<result property="measure" column="measure" />
		<result property="recordtime" column="recordtime" />
		<association property="customer" javaType="Customer">
			<id property="kid" column="kid" />
			<result property="comname" column="comname" />
			<result property="atype" column="atype" />
			<result property="combackdrop" column="combackdrop" />
			<result property="comaddress" column="comaddress" />
			<result property="product" column="product" />
			<result property="structure" column="structure" />
			<result property="testman" column="testman" />
			<result property="amessage" column="amessage" />
			<result property="state" column="state" />
			<result property="newdate" column="newdate" />
			<result property="designated" column="designated" />
		</association>
		<association property="login" javaType="com.ht.bean.Login">
			<id property="userid" column="userid"/>
			<result property="email" column="email"/>
			<result property="password" column="password"/>
			<result property="status" column="status"/>
		</association>
	</resultMap>

	<select id="takselect" parameterType="int" resultType="Track">
		select * from track where tid = #{tid}
	</select>

	<select id="queryAll" parameterType="Map" resultMap="TrackResult">
		select * from track
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
	</select>
	<select id="queryCount" parameterType="int" resultMap="TrackResult">
		select count(*) from track
	</select>

	<!-- <select id="getTotal" parameterType="Map" resultType="Long"> select 
		count(*) from t_customer_contact <where> <if test="cusId!=null and cusId!='' 
		"> and cusId = #{cusId} </if> </where> </select> -->

	<insert id="takadd" parameterType="Track">
		insert into track
		values(null,#{kid},#{uid},#{measure},#{recordtime})
	</insert>
		delete from track where
		kid=#{kid}
	</delete>

</mapper> 